body{
    /* font-family: 'Roboto', sans-serif; */
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    max-width: 992px;
    margin: 0 auto;
}


header img {
    width: 100%;
    height: 400px;
    object-fit: cover;
    opacity: 60%;
}

header h1 {
    position: absolute;
    top: 150px;
    margin-left: 20px;
    font-size: xx-large;
}

header h2 {
    background-color: black;
    color: white;
    text-align: center;
}

.logo {
    width: 150px;
    position: absolute;  
    top: 350px;  
    background-color: white;
    border: 1px black solid;
    border-radius: 10px;
}

.logo-container {
    width: 100%;
    display: flex;
    justify-content: end;
}

.main-nav-container {
    display: flex; 
}

nav {
    display: flex;
    flex-direction: column;
    margin: 30px;
    justify-content: space-between;
    height: 300px;
}

.link-selected {
    text-decoration: none;
    color: black;
}

main {
    padding: 10px;
}

table{
    width: 100%;
}

.justify-between{
    display: flex;
    justify-content: space-between;
}

.justify-center{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.text-justify{
    text-align: justify;
}

dt{
    font-weight: bold;
}

.block{
    display: block;
}

.inline-block{
    display: inline-block;
}

.flex{
    display: flex;
}

.flex-col{
    flex-direction: column;
}

.flex-row{
    flex-direction: row;
    flex-wrap: nowrap;
}

.w-100{
    width: 100%;
}

.w-max-content{
    width: max-content;
    white-space: nowrap;
}

.w-min-content{
    width: min-content;
}

.m-2{
    margin: 2px;
}

.p-2{
    padding: 2px;
}

.bg-red{
    background-color: red;
}

.bg-black{
    background-color: black;
}

.text-white{
    color: white;
}

.border-b{
    border: 0;
    border-bottom:solid 1px black;
 }

 .container-maps {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
 }

 .container-map-info{
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 250px;
    border: 2px solid black;
    padding: 0.5rem;
    margin: 0.5rem;
    background-color: black;
    color: white;
 }

 .map {
    width: 100%;
    height: 100%;
 }